@model ESW19Backup2.Models.Atribuicao
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Titulo"] = "Atribuição de Horarios";
}
 
<form asp-action="Criar" method="post" enctype="multipart/form-data">
    <div class="col-md-4 col-lg-4">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="Horario" class="control-label"></label>:
                <select id="Programa" asp-for="HorarioId" class="form-control" asp-items="ViewBag.Horario"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tarefa" class="control-label"></label>:
                <select id="Escola" asp-for="TarefaId" class="form-control" asp-items="ViewBag.Tarefas"></select>
            </div>
            <div class="form-group">
                <label asp-for="Funcionarios" class="control-label"></label>:
                <select id="Curso" asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.Funcionarios"></select>
            </div>
            <div class="clearfix botoes">
                <button type="submit" class="pull-right" id="btnConfirmar" style="margin-bottom: 20px;">Confirmar</button>
                <button type="button" onclick="javascript:history.back(); return false;" class="pull-right" id="btnVoltar">Voltar</button>
            </div>
        </div>
    </div>
</form>
   

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
