@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Titulo"] = "ALBERCOOL";
}

<h1> O Nosso Albergue</h1>
<p style="text-align:justify">
    Tentamos proporcionar as melhores condições de conforto e higiene aos
    animais do nosso abrigo. As boxes possuem espaços cobertos e de exterior
    para que possam usufruir quer do quentinho no inverno quer do sol de verão!”
</p>


