@{
    ViewData["Title"] = "Confirmação da mudança da password";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua password foi alterada. Por favor <a asp-action="Login">Clique aqui para fazer login</a>.
</p>
